.cover{
    width: 500px;
    margin: 100px auto;
}
.banner{
    width: 150px;
    height: 400px;
    background-color: white;
    border-radius: 40px 0px 0px 40px;
    background-size: cover;
    float: left;
}
.form{
    width: 350px;
    height: 400px;
    float: left;
    background-color: white;
    border-radius: 0px 40px 40px 0px;
    padding: 50px;
    box-sizing: border-box;
}