{% extends 'base.htmL' %}
{% block content %} 
{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" href="static\banner.css">
<style>
  body {
    background-image: url("/static/images/welcome-img-home-v3.jpg");
  }
  </style>
<div class="cover">
  <div class = "banner"></div>
  <div class = "form">
   <h1>Add book</h1>
   {% if messages %}
   <ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
   </ul>
   {% endif %}
   <form action=""method ="POST" >
    {% csrf_token %}
    <div class="container">
        {{ forms.title|as_crispy_field}}
        {{ forms.category|as_crispy_field}}
        {{ forms.author|as_crispy_field}}
        {{ forms.book_num|as_crispy_field}}
  
      <button type="submit" class="">Submit</button>
    </div>
  
   </form>
  </div>
</div>


{% endblock %}