{% extends 'base.htmL' %}
{% block content %} 
<h1>Add category</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
<form action=""method ="POST" >
    {% csrf_token %}
    <div class="container">

  
      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Enter category name" name="name" id="name">
  
      <label for="description"><b>Description</b></label>
      <input type="text" placeholder="Enter category description" name="description" id="description">
  
      <button type="submit" class="">Submit</button>
    </div>
  
  </form>

{% endblock %}