{% extends 'base.htmL' %}
{% block content %} 
<h1>book list</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}</ul>
    {% endif %}
<table cellspacing="0"width="50%">
    <thead>
        <tr>
            <td>CATEGORY</td>
            <td> TITLE</td>
            <td>AUTHOR</td>
            <td>BOOK NUM</td>
            <td>ACTION</td>
        </tr>
        <tbody>
            {% for book in book_list %}
                <tr>
                    <td>{{ book.category}}</td>
                    <td>{{book.title}} </td>
                    <td>{{book.author}} </td>
                    <td>{{book.book_num}} </td>
                    <td> <a href="{% url 'edit-book' book.id %}">edit</a> </td>
                </tr>
             {% endfor %}

        </tbody>
    </thead>
</table>
 
{% endblock %}


    