{% extends 'base.htmL' %}
{% block content %} 
<h1>books category</h1>
<table cellspacing="0"width="50%">
    <thead>
        <tr>
            <td>NAME</td>
            <td>CATEGORY</td>
            <td>ACTION</td>
        </tr>
        <tbody>
            {% for category in category_list %}
                <tr>
                    <td>{{ category.name}}</td>
                    <td>{{category.description}} </td>
                    <td> <a href="{% url 'edit-category' category.id %}">edit</a> </td>
                </tr>
             {% endfor %}

        </tbody>
    </thead>
</table>
 
{% endblock %}