{% extends 'base.htmL' %}
{% block content %} 
{% load crispy_forms_tags %}
<h1>Edit Category</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
<form action=""method ="POST" >
    {% csrf_token %}
    <div class="container">
        {{ forms.name|as_crispy_field}}
        {{ forms.description|as_crispy_field}}
  
      <button type="submit" class="">Edit</button>
    </div>
  
  </form>

{% endblock %}