{% extends 'base.htmL' %}
{% block content %} 
{% load crispy_forms_tags %}

<h1> Edit Book </h1>

<form action=""method ="POST" >
    {% csrf_token %}
    <div class="container">
        {{ forms.category|as_crispy_field}}
        {{ forms.title|as_crispy_field}}
        {{ forms.author|as_crispy_field}}
        {{ forms.book_num|as_crispy_field}}
  
      <button type="submit" class="">Edit</button>
    </div>
  
  </form>

{% endblock %}