{% extends 'base.htmL' %}
{% block content %} 
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 17px;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.container img {vertical-align: middle;}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 1000px;
  padding: 20px;
}
</style>
</head>
<body>

<h2></h2>

<div class="container">
  <img src="/static/images/meet-staff-bg.jpg" style="width:1000px;">
  <div class="content">
    <h1>Welcome to our Library</h1>
    <form action = "{% url 'search' %}" method='POST'>
      {% csrf_token %}
      <input type = 'text' name ='search' placeholder = 'search for a book'>
      <button type = 'submit'> search</button>
  </form>
  </div>
</div>

</body>
</html>

{% endblock %}
/*background-image: url("/static/images/meet-staff-bg.jpg");*/

