{% extends 'base.htmL' %}
{% block content %} 
{% load crispy_forms_tags %}
<h1>Issue book</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
<form action=""method ="POST" >
    {% csrf_token %}
    <div class="container">
        {{ forms.student|as_crispy_field}}
        {{ forms.book|as_crispy_field}}
        {{ forms.status|as_crispy_field}}
        <input type="date" name="borrowing_date" placeholder="borrowing date">
        <input type="date" name="return_date" placeholder="return date">
       

  
      <button type="submit" class="">Submit</button>
    </div>
  
  </form>

{% endblock %}