<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1> Results of your search </h1>
    {% for book in books %}
    {{ book.title }}- {{ book.author}}<br>
    {{ book.description }}
    {% endfor %}
    </body>

</html>
