
<html>
    <head>
        <title> SIGN UP </title>
    </head>
    <body>
{% load crispy_forms_tags %}{% load crispy_forms_tags %}
<h1>Student sign_up </h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
<form action=""method ="POST" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="container">
        {{ forms.avatar|as_crispy_field}}
        {{ forms.first_name|as_crispy_field}}
        {{ forms.last_name|as_crispy_field}}
        {{ forms.course|as_crispy_field}}
        {{ forms.email|as_crispy_field}}
        {{ forms.student_num|as_crispy_field}}
        {{ forms.gender|as_crispy_field}}
        {{ forms.username|as_crispy_field}}
        {{ forms.password|as_crispy_field}}

       
      <button type="submit" class="">Sign up</button>
    </div>
  
  </form>    
</body>

  </html>
  