<html>
    <head>
        <title> HOME</title>
    </head>
    <body>
        {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}{% endif %}

        <p> WELCOME TO THE HOME PAGE </P>
        <a href="{% url 'sign-up' %}">SIGN UP </a>

    </body>

</html>
