<html>
    <head>
        <title> SIGN IN </title>
    </head>
    <body>
{% load crispy_forms_tags %}{% load crispy_forms_tags %}
<h1>Student sign_up </h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
<form action=""method ="POST" >
    {% csrf_token %}
    <div class="container">
        <div class="input-group form-group">
            <input type="text" name="username" class="form-control" placeholder="username">
            <input type="password" name="password" class="form-control" placeholder="password">
        </div>

        <button type="submit" class="">Sign In</button>
    </div>
  
  </form>    
</body>

  </html>